
*,  *::before, *::after{
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    margin: 0;
    background:  radial-gradient(circle, rgba(222,230,233,1) 28%, rgba(180,206,212,1) 50%, rgba(212,237,236,1) 80%);;
}

html{
    font-size: 16px;
}

.container{
    padding: 2em;
    border: 1px solid black;
}

.navbar{
    height: 3rem;
    width: 100%;
    padding: 2em;
    background-color: #192B2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    gap: 2rem;
}
.sidebar{
    width: 20%;
    border: 1px solid red;

    color: #000000
}

.sidebar ul{
    background-color: #fff;
    border-radius: 10px;
}

.main-content{
    width: 80%;
    border: 1px solid blue;
}